<div class="container">
  <header>
    <div class="filter">
      <div>Filtro</div>
      <div class="form-group">
        <form [formGroup]="filterForm" (ngSubmit)="filterSearch()">
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            name="name"
            formControlName="name"
            id="name"
          />
          <button type="submit">Filter</button>
        </form>
      </div>
    </div>
  </header>
  <div class="body">
    <div class="selected" *ngIf="selected">
      <div class="img">
        <img src="{{ selected.image }}" />
      </div>
      <div class="details">
        <ul>
          <li>Nome: {{ selected.name }}</li>
          <li>Status: {{ selected.status }}</li>
          <li>Espécie: {{ selected.species }}</li>
          <li>Gênero: {{ selected.gender }}</li>
          <li>Origem: {{ selected.origin.name }}</li>
          <li>Localização: {{ selected.location.name }}</li>
        </ul>
      </div>
    </div>
    <div class="grid">
      <div
        *ngFor="let char of chars"
        class="squares"
        (click)="selectChar(char)"
      >
        <img src="{{ char.image }}" />
        <span>{{ char.name }}</span>
      </div>
    </div>
  </div>
</div>
